.split {
  display: flex;
  justify-content: space-evenly;
}

.img-section {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.left-side {
  width: 50%;
}

.right-side {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

@media (max-width: 60em) {
  .split {
    flex-direction: column;
    gap: 2rem;
  }
  .left-side,
  .right-side {
    width: 100%;
  }
  .img-section {
    width: 100%;
    height: 50vh;
  }
}
