.split {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.left-content {
  width: 50%;
}

.right-content {
  width: 30%;
}

@media (max-width: 65rem) {
  .split {
    flex-direction: column;
  }
  .left-content {
    width: 100%;
  }

  .right-content {
    width: 100%;
  }
}
