.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 2rem;

}

.nav-bar_logo {
  width: 2rem;
  height: 2rem;
}

.auth {
  color: #333;
  text-decoration: "none";
  text-transform: uppercase;
  font-size: 1rem;
}

.auth:hover,
.auth:focus {
  transform: scale(1.1);
  opacity: 0.9;
  color: #333;
}

@media (max-width: 65rem) {
  .nav-bar {
    margin: 0 1rem;
  }
}
