@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  font-family: "Mulish", "Roboto", sans-serif Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow: hidden; */
}

.ui.menu:first-child {
  margin-top: 1rem;
}

:root {
  --btn-color: #e74536;
  --font-color: rgb(45, 49, 56);
  /* --price-color:rgb(0, 204, 153); */
  --price-color: rgba(35, 216, 171, 0.87);
  --border-raidus: 0.4rem;
  --login-color: #008951;
}

.section-body {
  min-height: 80vh;
}

.margin-top {
  margin-top: 2rem;
}
.overflow {
  overflow-y: auto;
  display: block;
}

.split {
  display: flex;
  justify-content: space-around;
}
