.banner {
  background: url(https://cdn.filestackcontent.com/gzje3d8TMWg8kJ1y94uw),
    radial-gradient(rgb(175, 173, 173), rgb(172, 168, 168));
  background-blend-mode: multiply;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.banner::before {
  /* opacity: 0.1; */
}
.banner_height {
  height: 35vh;
}
.center_element {
  margin: auto 0;
}

@media (max-width: 65rem) {
  .banner_height {
    height: 25vh;
  }
}
